<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055576109862-vsvoprr5u723jfogd8vhonf7lvn6cn00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055576109862-vsvoprr5u723jfogd8vhonf7lvn6cn00</string>
	<key>API_KEY</key>
	<string>AIzaSyCpL3QW4zkTlwjzckL4r6I9ch7exnzs72c</string>
	<key>GCM_SENDER_ID</key>
	<string>1055576109862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ProfileApp</string>
	<key>PROJECT_ID</key>
	<string>profileapp-1e599</string>
	<key>STORAGE_BUCKET</key>
	<string>profileapp-1e599.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055576109862:ios:612204d332634c841d87e7</string>
</dict>
</plist>